CLIENT_ORIGIN=http://localhost:5173
PORT=4000
DATABASE_URL="mongodb://user:password@localhost:27017/database?authSource=admin&directConnection=true"

# This secret is just an example. Real one must be generated and have much longer length
JWT_SECRET=12345