APP_PORT=4200
NODE_ENV=development
ALLOWED_ORIGIN=http://localhost:3000


POSTGRES_USER="postgres"
POSTGRES_PASSWORD="Pg_X9mK2!nR7qW5vT3pL"
POSTGRES_DB="nestjs-auth"
POSTGRES_HOST="localhost"
# To connect from PgAdmin use "postgres"
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:Pg_X9mK2!nR7qW5vT3pL@localhost:5432/nestjs-auth


PG_ADMIN_OUTPUT_PORT=5050
PG_ADMIN_INNER_PORT=80
PG_ADMIN_DEFAULT_USER=admin@example.com
PG_ADMIN_DEFAULT_PASSWORD=PgAdm!n_7nQ4wL3eH8mZ

REDIS_PASSWORD=R3d!s_8Km9pT2vB6nX4jS
REDIS_PORT=6379
REDIS_HOST=localhost
# To connect from Redis Insight use "redis" HOST
REDIS_URI=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}


REDIS_INSIGHT_APP_PORT=5540
REDIS_INSIGHT_APP_HOST=0.0.0.0
REDIS_INSIGHT_LOG_LEVEL=info
REDIS_INSIGHT_STDOUT_LOGGER=true
REDIS_INSIGHT_FILES_LOGGER=false
REDIS_INSIGHT_TRUSTED_ORIGINS=http://localhost:5540
REDIS_INSIGHT_PROXY_PATH=

SESSION_SECRET=s3ss!0n_S3cr3t_K9mL4pR7wQ2xN6vT8
SESSION_NAME=app.sid
SESSION_DOMAIN=localhost
SESSION_MAX_AGE=86400000
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER=sessions:
COOKIES_SECRET=c00k!3s_S3cr3t_H5nJ8mP3qW7rT2vX4

GOOGLE_RECAPTCHA_SECRET_KEY=12345abcdefg
