*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: hidden;

  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.user-ui {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  z-index: 9999;
}

.user-ui__bottom {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.user-ui__top {
  position: absolute;
  top: 25px;
  right: 25px;
}

.coin-img {
  width: 5vh;
}

.score {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
  color: black;
  font-size: 5vh;
}

.ui-btn {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.12);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s all;

  &:active {
    outline: none;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.12);
    transform: scale(0.95);
  }
}


.game-canvas {
  width: 100%;
  height: 100%;
}