{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^react$",
    "^react",
    "^@react",
    "^react-native$",
    "^@react-native",
    "^@expo",
    "^expo",
    "<THIRD_PARTY_MODULES>",
    "^@tanstack",
    "^@stripe",
    "^@/config/(.*)$",
    "^@/types/(.*)$",
    "^@/services/(.*)$",
    "^@/store/(.*)$",
    "^@/features/(.*)$",
    "^@/navigation/(.*)$",
    "^@/screens/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
