{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^@/navigation/(.*)$",
    "^@/screens/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
