{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^react$",
    "^react-native$",
    "^expo",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@features/(.*)$",
    "^@types/(.*)$",
    "^@/navigation/(.*)$",
    "^@/screens/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
